# Caminhos base para Hadoop e Tez dentro dos containers
HADOOP_HOME=/opt/hadoop
HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop
TEZ_HOME=/opt/tez
TEZ_CONF_DIR=/opt/hive/conf

# Alocação geral de memória para clientes Hadoop/Hive
# 2G/3G é razoável para a inicialização do Hive para evitar overhead constante de GC
HADOOP_CLIENT_OPTS=-Xmx2G -XX:+UseG1GC

# Impede que o Hadoop oculte as bibliotecas do Hive
HADOOP_USER_CLASSPATH_FIRST=false

# Refinar Classpath: Adicionar explicitamente jars do Hive e Tez
HADOOP_CLASSPATH=/opt/hive/lib/*:/opt/tez/*:/opt/tez/lib/*
