# Caminho base para o Hive dentro dos containers
HIVE_HOME=/opt/hive

# Diretório de Configuração essencial
HIVE_CONF_DIR=/opt/hive/conf

# Portas dos Serviços Hive
HIVE_SERVER2_THRIFT_PORT=10000
HIVE_SERVER2_WEBUI_PORT=10002
METASTORE_PORT=9083

# URI do Metastore (Como o Server2 e outros clientes vão se conectar)
HIVE_METASTORE_URIS=thrift://hive-metastore:9083

# Garantir que o comando 'hive' use as bibliotecas auxiliares
HIVE_AUX_JARS_PATH=${HIVE_HOME}/lib/

# Configurações de Banco de Dados (Metastore)
DB_DRIVER=postgres
# POSTGRES_USER=hive
# POSTGRES_PASSWORD=hive
# POSTGRES_DB=metastore

# Outras variáveis úteis
VERBOSE=false
